


/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    

    --light-grey : #f2f2f2;
    --white: white;
    
    --dark-grey: #d9d9d9;
    
    --black: var(--black);
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*** header*****/
header {
    display: flex;
    justify-content: space-between;
    
}

.header-logo-site {
    width: 62px;
     height: 62px;
    object-fit: contain;
    margin-right: auto;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 250px;

    justify-content: space-between;
}


header ul li:hover a {
    color: var(--main-color);
}


.heb:hover{
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
    padding-top: 20px;
   
    text-decoration: none;


}

/*-------------------
barre de recherche    
^----------------------
*/
form {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

form i {
    background-color: var(--light-grey);
    padding: 15px 15px;
    border-radius: 16px 0 0 16px;
    
}

form input {
    border: 1px solid var(--dark-grey);
    font-size: 15px;
    font-weight: bold;
    padding: 14px 10px 14px 10px;
    margin-left: -5px;
    color:var(--main-color);

}

form input::placeholder {
    color: black;
}

form h1 {
    font-size: 25px;
}

form button {
    border-radius: 0 14px 14px 0;
    background-color: var(--main-color);
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    padding: 14px 8px 14px 8px;
    cursor: pointer;
    margin-left: -5px;
}

form button:hover {
    box-shadow: 1px 1px 10px var(--dark-grey);
}

.phrase{
    padding-bottom: 20px;
}
.fa-solid.fa-magnifying-glass {
    display: none;
}
/* 
^----------------------
*       FILTERS     
^----------------------
*/
.filters {
    display: flex;
    flex-wrap:  wrap;
    align-items: justify;
    gap: 15px;  
    
 }
.filters h3{
    padding: 0%;
}
.btn-filter p{
    
    padding: 0;
    cursor: pointer;

    

}
.btn-filter {
    font-weight:bold;
    border: 1px solid var(--dark-grey);
    border-radius: 30px;
    padding-right: 1rem;
    
    
    
}

.btn-filter:hover{
    background-color: var(--filter-bg-color);
    box-shadow: 0 0 8px var(--dark-grey);
}
  
.fa-money-bill-wave{
   padding-left: 1rem;
   padding-right: 1rem;
   
   font-size: 22px;
    
    
}


 .fa-person{
    padding-right: 1rem;
    padding-left:1rem;
   
font-size: 22px;
    
  
}

.fa-heart{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    font-size: 22px;

}
.fa-fire{
    padding-left:1rem ;
    padding-right: 1rem;
    font-size: 22px;
}

/*
*        barre d'information
*/
#icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}  

.fa-solid.fa-info {
    border: 1px solid var(--dark-grey);
    border-radius: 50%;
    color: var(--main-color);
    height: 25px;   
    width: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
  
.fa-location-dot {
    color: black;
}

.phrase2{
    padding: 20px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10;
    padding:0 10px;
}
h2{ padding-top: 0;
    padding-bottom: 25px;
    padding-left: 5px;
}
.hebergements h3{
    width: 100%;
}
.hebergements a{
    text-decoration: none;
    color: inherit;
}
.hebergements-cards{
    display: flex;
    gap: 5px;
    
}
.hebergements-cards div {
    flex-basis: calc(20% - 1rem);
    min-height: auto;
}


    

.cont img{
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;  
}






/***/
.hebergement-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    transition: transform;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--dark-grey); 
    border-radius: 16px; 
    padding: 5px; 
    box-sizing: border-box; 
    background-color: var(--white);
    box-shadow: 0 0 8px var(--dark-grey);

}
 .title{
    padding-bottom: 10px;
    margin: 0;
}
.subtitle{
margin: 0;
padding-bottom: 10px;

}
.box{
    margin: 0;
    padding: 5px;
    font-size: 14px;
}







/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: transform 0.5s;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* 
^----------------------





/*-- activités--*/
.activites {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.card-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  
  .cards {
    width: calc(25% - 20px); 
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin-bottom: 50px; 

  }
  
  
  .cards img {
    width: 100%;
    height: calc(445px - 56px); 
    display: flex;
  object-fit: cover;
  
  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

  .act{
    padding-top: 30px;
    

    
  }
 

  
  
  .cards .cards-title {
    font-size: 1.2em; 
    padding:0 15px; 
    color: black;
  }
  
 
  
  

/*footer*/


footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer-left, .footer-middle, .footer-right {
    width: 30%;
}

.footer-left p, .footer-middle p, .footer-right p {
    margin: 5px 0;
}

.footer-left h4, .footer-middle h4, .footer-right h4 {
    margin-left: 0px;
}

.footer-middle div {
    margin-top: 10px;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.P{
    padding: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .filtres {
        width: 100%;
    }
   
    
    /*activités*/
    .cards img {
       
        height: calc(400px - 200px); 
        display: flex;
      object-fit: cover;}
    .cards-title{
        font: 1em;
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: center;
    
    }
    .act{
        margin-bottom: 40px;
    }
    

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) { 
    
    
    
    /* header... */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  
     
        nav{
            width: 100%;
            
            border-bottom: solid var(--dark-grey);
            padding: 20px;
           display: flex;
        

        }
    
         ul{
            
            flex:1;
            align-items: center;
            justify-content: space-around;
         }   
        
        
        .heb:hover { 
            border-bottom: solid 3px var(--main-color);
            padding-bottom: 35px;
            
        }

        .heb:hover{ border-top: none;}
          
        
           /* 
    *    barre de recherche
    */   
   
    .fa-solid.fa-magnifying-glass {
        display: inline;
        color: var(--main-bg-color);
        background-color: var(--main-color);
        margin-left: -5px;
        font-size: 15px;
        padding: 10px;
    }
    .btn-search span {
        display: none;
    }
    
 
    .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        
    
        
    }

    .filters h3 {
        grid-column: 1 / -1; 
    
    }

    .btn-filter {
        width: 90%; 
    }
    /* populaires*/
    
    .hebergements-and-populaires {
    
        flex-direction: column-reverse;
    }
    .hebergement-cards {
        background-color: var(--white);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
        margin-bottom: 20px;
    }
    /*hébergements*/
   .hebergement-cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    

    background-color: white;
   }
   .hebergements-and-populaires> .hebergements {
    background-color: white;
   }
    .box{
        font-size: 20px;
    }
/*activités*/
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .cards {
        width: 100%;
        margin-bottom: 20px;

    }
    
/*footer*/
    footer {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-left, .footer-middle, .footer-right {
        width: 90%; 
    }
}





