@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/*** header*****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-site {
    width: 62px;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 250px;
    margin-top: 15px;
    justify-content: space-between;
}

header a {
    padding: 20px 0 20px;
}
ul :hover{
    color:#0065fc;
    

}
/* 
^----------------------
*      SEARCH BAR     
^----------------------
*/
form {
    display: inline-block;
    width: 100%;
}

form i {
    background-color: var(--light-grey);
    padding: 10px 13px;
    border-radius: 15px 0 0 15px;
}

form input {
    border: 1px solid var(--light-grey);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0 7px 10px;
    margin-left: -5px;
}

form input::placeholder {
    color: black;
}

form h1 {
    font-size: 20px;
}

form button {
    border-radius: 0 14px 14px 0;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    padding: 9px 17px 8px 17px;
    cursor: pointer;
    margin-left: -5px;
}

form button:hover {
    box-shadow: 1px 1px 10px var(--dark-grey);
}

/* 
*       make the magnifying glass disappear 
*/
.fa-solid.fa-magnifying-glass {
    display: none;  
}





/* 
^----------------------
*       FILTERS     
^----------------------
*/
.filters {
    display: inline-flex;
    padding-top: 18px;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
 }

 .filters h3 {
    margin-right: 20px;
}

.btn-filter p {
    margin: 0;
    padding-right: 20px;
    cursor: pointer;
}

.btn-filter {
    font-weight: bold;
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    border-left: none;
}

.btn-filter:hover{
    background-color: var(--light-grey);
    box-shadow: 0 0 8px var(--blue);
}
  
.btn-filter .fa-solid {
    background-color: var(--light-blue);
    border-radius: 30px;
}

.btn-filter .fa-child-reaching {
    padding: 14px 17px 14px 17px;
    margin-right: 10px;
    color: var(--blue);
}

.btn-filter .fa-heart, .fa-fire, .fa-money-bill-wave {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color: var(--blue);
}


/*
*        barre d'information
*/
#icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}  

.fa-solid.fa-info {
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    color: var(--blue);
    height: 25px;   
    width: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
  



/* 
*       ARTICLES     
*/
.all-articles {                                   
    display: flex;                                  
    gap: 20px;
} 
.all-articles > div {
    border-radius: 16px;
    background-color: var(--light-grey);
}
.all-articles h3 {
    padding-left: 20px;
}
.all-articles .hebergements {
    flex-basis: 66%;
}
.all-articles .populaires {
    flex-basis: 33%;
}



/* 
*    ARTICLES --> HEBERGMENTS     
*/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding: 0 10px 0 10px;
}
.hebergements h3 {
    width: 100%;
}
.hebergements a {
    text-decoration: none;
    color: inherit;
}


.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
 } 
.card-hebergement div {
    flex-basis: calc(33% - 40px);
    min-width: 220px;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px var(--dark-grey);
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    transition: all 0.2s;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.card p, .card h4 {
    margin: 5px
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
}
.card .stars {
    margin-top: auto;
}
/*-- activités--*/


.photo {
    width: Fill (297.5px)
    height: Fixed (439px)
    border-radius: 20px
    
}

  /* 
    *       footer 
    */
    footer {
        display: block;
        padding-left: 30px;
    }
    .footer-left, .footer-middle {
        margin-bottom: 25px;
    }









/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}